/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 184, 255);
display: flex;
justify-content: center;
align-items: center;
}

.container {
    width: 25vw;
    height: 80vh;
    background-color: rgb(39, 140, 207);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(65, 65, 65);
}

.topInfo{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}

.bottomInfo{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction:column;
}

.topInfo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.infoWeather {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    color: black;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;   
}

.temperature {
    color: black;
    font-size: 4em;
    text-align: center;
    font-weight: 900;
}

.plusInfo {
    color: white;
}
.plusInfoContainer {
    flex: 1;
    background-color: rgb(65, 65, 65);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoBlock{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.plusInfoBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plusInfoBlock img{
    width: 3em;
}

.plusInfoBlock span {
    color: white;
    font-size: 0.8em;
}

.plusInfoBlockValue {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.search {
    margin-bottom: 1em;
    text-align: center;
}
.search input {
    background-color: gray;
    outline: none;
    border: none;
    padding: 1em;
    border-radius: 20px;
    color: gold;
    font: 0.8em;
    text-align: center;
}